p{
    font-size: 30px;

}

.imagenes{
    display: flex;


}

.susi{
    border: 5px solid black;
    height: 400px;
    width: 200px;
}
.comiendo{
    border:5px solid black;
    height: 400px;
    width: 500px;
}

.graduacionBeso{
    border:5px solid black;
    height: 400px;
    width: 400px;
}

.graduacion{
    border:5px solid black;
    height:400px ;
    width:400px ;
}
.graduacionMejilla{
    border:5px solid black;
    height: 400px;
    width: 400px;
}
.cancion{
    border-radius: 5px;
    border: solid black;
    width: 400px;
}